* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.titulo-carrusel {
  text-align: center;
  font-size: 2rem; /* Puedes ajustar el tamaño */
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #333; /* Color oscuro para buen contraste */
}

main {
  height: 100vh;
  margin-top: 20%;
  flex: 1;
  padding: 20px;
  text-align: center;
  display: block;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
}

header {
  background-color: #5a5c57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 40px;
}

.icons a img {
  width: 24px;
  margin-left: 15px;
}

main {
  padding: 20px;
  text-align: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 20px;

}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  touch-action: pan-y;
}

.card {
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 600px) {
  .card {
    min-width: 50%;
  }
}

/* Para escritorio (3 tarjetas visibles) */
@media (min-width: 1024px) {
  .card {
    min-width: 33.33%;
  }
}

.card img {
  width: 90%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

.btn {
  background-color: #eabf57;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.3);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 10;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #444;
  color: #eabf57;
  font-weight: bold;
}
